body {
	background: #333;
	color: #eee;
}

.container {
	padding: 24px 0;
}

.alert {
	width: 100%;
}

a {
	color: inherit;
}

input {
	background: #252525;
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	padding: 4px 8px;
	font-family: monospace;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
}

#voicePicker {
	width: 200px;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: transparent;
	font-size: 50px;
}
