body {
	background: #333;
	color: #eee;
}

.container {
	padding: 24px 0;
}

.alert {
	width: 100%;
}

a {
	color: inherit;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: transparent;
	margin-top: 16px;
	display: inline-block;
}

#image-container {
	position: relative;
	overflow: hidden;
}

#outlines {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
